.aboutHome {
	width: 100%;
	height: auto;
	min-height: 720px;
	padding-top: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-image: url('../../images/img/fonHome.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}