* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	max-width: 1920px;
}

html {
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #fff
}

li {
	list-style-type: none;
}